*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
    text-decoration: none;
}

#grilla {
	display: grid;
	grid-template-rows: 0.9fr 0.5fr 3fr 1fr; 
    grid-template-columns: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		"header header header"
        "nav nav nav"
        "main main main"
		"footer footer footer";
	width: 100%;
	height: 100%;
}

a{
    text-decoration: none;
    color: rgb(41, 40, 40);
}

body {
    background-image: linear-gradient(navy, black);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 13px;
}

header{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    height: min-content;
    text-align: center;

}

.Header1{
    display: flex;
    font-size: 10px;
    padding: 20px;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    grid-area: header;
}

.Header1 h2{
    font-size: 30px;
    color: rgb(255, 208, 0);
    margin: 10px;
    text-align: left;

}

.Header2{
    display: flex;
    padding: 5px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    grid-area: header;
}

.searchContainer{
    text-align: center;
    padding: 15px;
    border: solid grey 1px;
    border-radius: 3px;
    height: 5vh;
    width: 65vw;
    font-size: 14px;
    font-style: italic;
}

.Header3{
    display: flex;
    color: honeydew;
    text-align: center;
    padding: 15px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    grid-area: header;
}

nav {
    grid-area: nav;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
}

.listaNavegacion{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    background-color: rgba(120, 120, 153, 0.356);
    padding: 1px;
}

.botonNavegacion{
    background-color: rgb(255, 208, 0);
    padding: 5px;
    border-radius: 3px;
    width: 90px;
    height: auto;
    margin: 15px;
    text-align: center;
    border: solid rgb(206, 168, 1);
    transition: width 0.2s
}

main{
    grid-area: main;
    text-align: center;
}

.homeMain{
    background-image: url(../media/store.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

footer {
    display: flex;
    grid-area: footer;
    color: honeydew;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

button{
    width: 20vw;
    text-align: center;
}

.textoPrincipal{
    color: rgb(255, 208, 0);
    padding: 25px;
    font-size: 15px;
}

h1{
    color: rgb(255, 208, 0);
    font-size: 30px;
    padding: 25px;
}

.productPictures{
    width: 100px;
    height: 100px;
    padding: 5px;
    border-radius: 4px;
    border: solid rgba(120, 120, 153, 0.356) 1px;
    margin: 15px;
}

.productMain{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.contactMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.campoFormulario{
    padding: 5px;
}

input{
    height: 30px;
    border: solid grey 1px;
    border-radius: 5px;
}

.map{
    width: 300px;
    height: 300px;
    align-items: center;
    border: solid grey 1px;
    border-radius: 50px;
    margin-top: 50px;
}

@media (min-width: 768px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Oxygen', sans-serif;
        text-decoration: none;
    }

    #grilla {
            display: grid;
            grid-template-areas:
            "header header header"
            "nav nav nav"
            "main main main"
            "footer footer footer";
            grid-template-rows: 1fr 0.5fr 9.3fr 2fr; 
            grid-template-columns: 1fr;
            width: 100%;
            height: 100%;
            grid-auto-flow: row;
        }

    a{
        text-decoration: none;
        color: rgb(41, 40, 40);
    }

    body {
        background-image: url("../media/web_background.png");
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 13px;
    }

    header{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: stretch;
        justify-content: space-between;
        height: min-content;

    }

    .Header1{
        display: flex;
        font-size: 10px;
        padding: 20px;
        text-align: left;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        flex-wrap: nowrap;
        align-items: flex-end;
    }

    .Header1 h2{
        font-size: 30px;
        color: rgb(255, 208, 0);
        margin: 10px;
        text-align: left;
        grid-area: header;

    }

    .Header2{
        display: flex;
        padding: 20px;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: stretch;
        justify-content: center;
        align-items: center;
        grid-area: header;
    }

    .Header3{
        display: flex;
        color: honeydew;
        text-align: right;
        padding: 20px;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-end;
        grid-area: header;
    }

    .searchContainer{
        text-align: left;
        padding: 15px;
        border: solid grey 1px;
        border-radius: 3px;
        height: 5vh;
        width: 15vw;
        font-size: 16px;
        font-style: italic;
    }

    nav {
        grid-area: nav;
    }

    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        list-style: none;
    }

    .listaNavegacion{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style: none;
        background-color: rgba(120, 120, 153, 0.356);
        padding: 1px;
    }

    .botonNavegacion{
        background-color: rgb(255, 208, 0);
        padding: 5px;
        border-radius: 3px;
        width: 90px;
        height: auto;
        margin: 15px;
        text-align: center;
        border: solid rgb(206, 168, 1);
    }

    .botonNavegacion:hover{
        width: 100px;
        text-align: center;
        background-color: rgb(180, 180, 180);
        border-color: gold;
    
    }

    main{
        grid-area: main;
        text-align: center;
    }

    .homeMain{
        background-image: url(../media/store.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    footer {
        display: flex;
        flex-direction: column;
        grid-area: footer;
        color: honeydew;
        text-align: center;
        justify-content: center;
    }

    button{
        width: 4vw;
        text-align: center;
    }

    .textoPrincipal{
        color: rgb(255, 208, 0);
        padding: 25px;
        font-size: 25px;
    }

    h1{
        color: rgb(255, 208, 0);
        font-size: 50px;
        padding: 25px;
    }

    .productPictures{
        width: 200px;
        height: 200px;
        padding: 10px;
        border-radius: 40px;
        border: solid rgba(120, 120, 153, 0.356) 1px;
        margin: 50px;
        transition: all 1s;
    }

    .productPictures:hover{
        border-color: gold;
    }

    .productMain{
        display: block;
    }

    .contactMain{
        display: block;

    }
    .campoFormulario{
        padding: 5px;
    }
    
    input{
        height: 50px;
        width: 350px;
        border: solid grey 1px;
        border-radius: 5px;
        transition: all 0.3s;
    }

    input:focus{
        background-color: rgb(255, 242, 167);
    }
    
    .map{
        width: 600px;
        height: 600px;
        align-items: center;
        border: solid grey 1px;
        border-radius: 50px;
        margin-top: 50px;
    }
}