*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
    text-decoration: none;
}


a{
    text-decoration: none;
    color: rgb(41, 40, 40);
}

body {
    background-image: linear-gradient(rgb(48, 81, 123), black);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 13px;
}

.headerLeft{
    display: flex;
    font-size: 10px;
    padding: 20px;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

.headerLeft h2{
    font-size: 30px;
    color: rgb(255, 208, 0);
    font-weight: bold;
    margin: 10px;
    text-align: left;

}

.headerCenter{
    display: flex;
    padding: 5px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.searchContainer{
    text-align: center;
    padding: 15px;
    border: solid grey 1px;
    border-radius: 3px;
    height: 5vh;
    width: 65vw;
    font-size: 14px;
    font-style: italic;
}

.headerRight{
    display: flex;
    color: honeydew;
    text-align: center;
    padding: 15px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.headerRight h4{
        color: honeydew;
        font-size: 12px;
    }


ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
}

.listaNavegacion{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    background-color: rgba(120, 120, 153, 0.356);
    padding: 1px;
}

.botonNavegacion{
    background-color: rgb(255, 208, 0);
    padding: 5px;
    border-radius: 3px;
    width: 90px;
    height: auto;
    margin: 15px;
    text-align: center;
    border: solid rgb(206, 168, 1);
    transition: width 0.2s
}

main{
    text-align: center;
}


footer {
    display: flex;
    color: honeydew;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

button{
    width: 20vw;
    text-align: center;
}

.textoPrincipal{
    color: rgb(255, 208, 0);
    padding: 25px;
    font-size: 15px;
}

h1{
    color: rgb(255, 208, 0);
    font-size: 30px;
    padding: 25px;
}

.productPictures{
    width: 100px;
    height: 100px;
    padding: 5px;
    border-radius: 4px;
    border: solid rgba(120, 120, 153, 0.356) 1px;
    margin: 15px;
}

.productMain{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.contactMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.campoFormulario{
    padding: 5px;
}

input{
    height: 30px;
    border: solid grey 1px;
    border-radius: 5px;
}

.map{
    width: 300px;
    height: 300px;
    align-items: center;
    border: solid grey 1px;
    border-radius: 50px;
    margin-top: 50px;
}






@media (min-width: 768px) {
    *{
        margin: 0%;
        padding: 0%;
    }

    body {
        background-color: rgb(48, 81, 123);
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 13px;
    }

    a{
        text-decoration: none;
        color: rgb(41, 40, 40);
    }

    a:hover{
        color: rgb(255, 208, 0);
    }

    .headerLeft{
        display: flex;
        font-size: 10px;
        padding: 20px;
        text-align: left;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        flex-wrap: nowrap;
        align-items: flex-end;
    }

    .headerLeft h2{
        font-size: 30px;
        color: rgb(255, 208, 0);
        font-weight: bold;
        margin: 10px;
        text-align: left;

    }

    .headerCenter{
        padding: 20px;
        text-align: center;
    }

    .headerRight h4{
        color: honeydew;
        font-size: 12px;
    }

    .headerRight{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        text-align: right;
        padding: 20px;
    }

    .searchContainer{
        text-align: left;
        padding: 15px;
        border: solid grey 1px;
        border-radius: 3px;
        height: 5vh;
        width: 15vw;
        font-size: 12px;
        font-style: italic;
    }


    .listaNavegacion{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        background-color: rgba(120, 120, 153, 0.356);
        padding: 1px;
    }

    .botonNavegacion{
        display: flex;
        width: 90px;
        text-align: center;
        height: 30px;
        border-radius: 2px;
        background-color: rgb(255, 208, 0);
        border: solid rgba(41, 40, 40, 0.089) 1px;
        transition: width 0.2s;
        align-items: center;
        justify-content: center;
    }

    .botonNavegacion:hover{
        width: 100px;
        text-align: center;
        background-color: rgb(99, 94, 94);
        border: solid 1px rgb(255, 208, 0);;
    }

    main{
        text-align: center;
    }

    footer {
        display: flex;
        flex-direction: column;
        color: honeydew;
        text-align: center;
        justify-content: center;
    }

    button{
        width: 4vw;
        text-align: center;
        border-radius: 5px;
    }

    .textoPrincipal{
        color: rgb(255, 208, 0);
        padding: 25px;
        font-size: 25px;
    }

    h1{
        color: rgb(255, 208, 0);
        font-size: 50px;
        padding: 25px;
    }

    .productPictures{
        width: 200px;
        height: 200px;
        padding: 10px;
        border-radius: 40px;
        border: solid rgba(120, 120, 153, 0.356) 1px;
        margin: 50px;
        transition: all 1s;
    }

    .productPictures:hover{
        border-color: gold;
    }

    .productMain{
        display: block;
    }

    .contactMain{
        display: block;

    }
    .campoFormulario{
        padding: 5px;
    }

    input{
        height: 50px;
        width: 350px;
        border: solid grey 1px;
        border-radius: 5px;
        transition: all 0.3s;
    }

    input:focus{
        background-color: rgb(255, 242, 167);
    }

    .map{
        width: 600px;
        height: 600px;
        align-items: center;
        border: solid grey 1px;
        border-radius: 50px;
        margin-top: 50px;
    }

    .carousel-caption{
        color: rgb(255, 208, 0);
        background-color: rgba(41, 40, 40, 0.582);
    }

    h5{
        font-size: 45px;
        font-weight: bold;
    }
}
