.productMain {
  display: flex;
  flex-direction: column;
  margin-left: 20px; }

.productPictures {
  width: 100px;
  height: 100px;
  padding: 5px;
  border-radius: 4px;
  border: solid rgba(120, 120, 153, 0.356) 1px;
  margin: 15px; }

@media (min-width: 768px) {
  .productMain {
    display: block; }
  .productPictures {
    width: 100px;
    height: 100px;
    padding: 5px;
    border-radius: 4px;
    border: solid rgba(120, 120, 153, 0.356) 1px;
    margin: 15px; } }

.contactMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center; }

.campoFormulario {
  padding: 5px; }

input {
  height: 30px;
  border: solid grey 1px;
  border-radius: 5px; }

.map {
  width: 300px;
  height: 300px;
  align-items: center;
  border: solid grey 1px;
  border-radius: 50px;
  margin-top: 50px; }

@media (min-width: 768px) {
  .map {
    width: 600px;
    height: 600px;
    align-items: center;
    border: solid grey 1px;
    border-radius: 50px;
    margin-top: 50px; }
  input:focus {
    background-color: #fff2a7; }
  input {
    height: 50px;
    width: 350px;
    border: solid grey 1px;
    border-radius: 5px;
    transition: all 0.3s; }
  .campoFormulario {
    padding: 5px; }
  .contactMain {
    display: block; } }

body {
  background-image: linear-gradient(#30517b, black);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 13px; }

.headerLeft {
  display: flex;
  font-size: 10px;
  padding: 20px;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center; }

.headerLeft h2 {
  font-size: 30px;
  color: #ffd000;
  font-weight: bold;
  margin: 10px;
  text-align: left; }

.headerCenter {
  display: flex;
  padding: 5px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center; }

.searchContainer {
  text-align: center;
  padding: 15px;
  border: solid grey 1px;
  border-radius: 3px;
  height: 5vh;
  width: 65vw;
  font-size: 14px;
  font-style: italic; }

.headerRight {
  display: flex;
  color: honeydew;
  text-align: center;
  padding: 15px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center; }

.headerRight h4 {
  color: honeydew;
  font-size: 12px; }

@media (min-width: 768px) {
  .headerLeft {
    display: flex;
    font-size: 10px;
    padding: 20px;
    text-align: left;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: nowrap;
    align-items: flex-end; }
  .headerLeft h2 {
    font-size: 30px;
    color: #ffd000;
    font-weight: bold;
    margin: 10px;
    text-align: left; }
  .headerCenter {
    padding: 20px;
    text-align: center; }
  .headerRight h4 {
    color: honeydew;
    font-size: 12px; }
  .headerRight {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: right;
    padding: 20px; }
  .searchContainer {
    text-align: left;
    padding: 15px;
    border: solid grey 1px;
    border-radius: 3px;
    height: 5vh;
    width: 15vw;
    font-size: 12px;
    font-style: italic; } }

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style: none; }

.listaNavegacion {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  background-color: rgba(120, 120, 153, 0.356);
  padding: 1px; }

.botonNavegacion {
  background-color: #ffd000;
  padding: 5px;
  border-radius: 3px;
  width: 90px;
  height: auto;
  margin: 15px;
  text-align: center;
  border: solid #cea801;
  transition: width 0.2s; }

@media (min-width: 768px) {
  .listaNavegacion {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    background-color: rgba(120, 120, 153, 0.356);
    padding: 1px; }
  .botonNavegacion {
    display: flex;
    width: 90px;
    text-align: center;
    height: 30px;
    border-radius: 2px;
    background-color: #ffd000;
    border: solid rgba(41, 40, 40, 0.089) 1px;
    transition: width 0.2s;
    align-items: center;
    justify-content: center; }
    .botonNavegacion:hover {
      width: 100px;
      text-align: center;
      background-color: #635e5e;
      border: solid 1px #ffd000; } }

main {
  display: flex;
  text-align: center;
  flex-direction: column; }

main h1 {
  text-align: center;
  background-color: rgba(39, 65, 100, 0.315);
  font-weight: bold; }

@media (min-width: 768px) {
  main h1 {
    text-align: center;
    background-color: rgba(39, 65, 100, 0.315);
    font-weight: bold; }
  main {
    text-align: center; } }

footer {
  display: flex;
  color: honeydew;
  text-align: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-top: 70px; }

@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    color: honeydew;
    text-align: center;
    justify-content: center;
    margin-top: 70px; } }

.row {
  justify-content: space-around;
  text-align: center;
  align-items: stretch; }

.btn-primary {
  background-color: #30517b;
  margin-bottom: 4px; }

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
  flex-wrap: wrap; }

.row {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-around;
  align-items: center;
  margin: 10px; }

.card {
  display: flex;
  flex-direction: column; }
  .card h5 {
    font-size: 16px; }

.card-img-top {
  margin-top: 10px; }

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-content: center; }

@media (min-width: 768px) {
  .btn-primary:focus {
    background-color: #635e5e;
    border: solid 1px #ffd000;
    color: gold; }
  .card {
    display: flex;
    flex-direction: column; }
    .card .h5 {
      font-size: 16px; }
  .card-img-top {
    margin-top: 10px; }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-content: center; }
  .row {
    justify-content: space-around;
    text-align: center;
    align-items: stretch; }
  .btn-primary {
    background-color: #30517b;
    margin-bottom: 4px; }
  .btn-primary:hover {
    background-color: #ffd000;
    color: #292828; }
  .cart:hover {
    background-color: #26be26;
    color: #292828; }
  .carousel-caption {
    color: #ffd000;
    background-color: rgba(41, 40, 40, 0.582); } }

* {
  margin: 0;
  padding: 0;
  font-family: 'Oxygen', sans-serif;
  text-decoration: none; }

a {
  text-decoration: none;
  color: #292828; }

button {
  width: 20vw;
  text-align: center; }

.textoPrincipal {
  color: #ffd000;
  padding: 25px;
  font-size: 15px; }

h1 {
  color: #ffd000;
  font-size: 30px;
  padding: 25px; }

@media (min-width: 768px) {
  * {
    margin: 0%;
    padding: 0%; }
  body {
    background-color: #30517b;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 13px; }
  h1 {
    color: #ffd000;
    font-size: 50px;
    padding: 25px; }
  h5 {
    font-size: 45px;
    font-weight: bold; }
  button {
    width: 4vw;
    text-align: center;
    border-radius: 5px; }
  .textoPrincipal {
    color: #ffd000;
    padding: 25px;
    font-size: 25px; }
  a {
    text-decoration: none;
    color: #292828; }
    a:hover {
      color: #ffd000; } }
