$amarilloBase: #ffd000;
$grisBase: rgb(99, 94, 94);
$grisBordeBoton1: rgb(41, 40, 40);
$grisBordeBoton: rgba(41, 40, 40, 0.089);
$fondoLista: rgba(120, 120, 153, 0.356);
$gradienteAzul: rgb(48, 81, 123);
$negro: black;
$tituloFondo: rgba(39, 65, 100, 0.315);
$crema: honeydew;
$gris: gray;
$btn_prim_azul: rgb(48, 81, 123);
$btn_verde_comprar: rgb(38, 190, 38);
$btn_gris_letra: rgb(41, 40, 40);
$carouselFondoTrue:rgba(41, 40, 40, 0.582);
$amarilloFocus:rgb(255, 242, 167);
$bordeImagenes: rgba(120, 120, 153, 0.356);
