.contactMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.campoFormulario{
    padding: 5px;
}

input{
    height: 30px;
    border: solid $gris 1px;
    border-radius: 5px;
}

.map{
    width: 300px;
    height: 300px;
    align-items: center;
    border: solid $gris 1px;
    border-radius: 50px;
    margin-top: 50px;
}


@media (min-width: 768px){

.map{
    width: 600px;
    height: 600px;
    align-items: center;
    border: solid $gris 1px;
    border-radius: 50px;
    margin-top: 50px;
}

input:focus{
    background-color: $amarilloFocus;
}

input{
    height: 50px;
    width: 350px;
    border: solid $gris 1px;
    border-radius: 5px;
    transition: all 0.3s;
}

.campoFormulario{
    padding: 5px;
}

.contactMain{
    display: block;

}

}