main{
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 750px

}

main h1{
    text-align: center;
    background-color: $tituloFondo;
    font-weight: bold;
}

@media (min-width: 768px){

main h1{
    text-align: center;
    background-color: $tituloFondo;
    font-weight: bold;
}

main{
    text-align: center;
}

}