main{
    display: flex;
    text-align: center;
    flex-direction: column;

}

main h1{
    text-align: center;
    background-color: rgba(39, 65, 100, 0.315);
    font-weight: bold;
}

@media (min-width: 768px){

main h1{
    text-align: center;
    background-color: rgba(39, 65, 100, 0.315);
    font-weight: bold;
}

main{
    text-align: center;
}

}