footer {
    @extend %estilos1;
    display: flex;
    color: $crema;
    flex-direction: column;
    margin-top: 70px;
}

.icons{
    filter: invert(86%) sepia(25%) saturate(3835%) hue-rotate(358deg) brightness(100%) contrast(106%);
}

.icon{
    margin-left: 20px;
    margin-right: 20px;
}


@media (min-width: 768px){

footer {
    display: flex;
    flex-direction: column;
    color: $crema;
    text-align: center;
    justify-content: center;
    margin-top: 70px;
}

.icons{
    filter: invert(86%) sepia(25%) saturate(3835%) hue-rotate(358deg) brightness(100%) contrast(106%);
}

.icon{
    margin-left: 20px;
    margin-right: 20px;
}

}