footer {
    @extend %estilos1;
    display: flex;
    color: $crema;
    flex-direction: column;
    margin-top: 70px;
}

@media (min-width: 768px){

footer {
    display: flex;
    flex-direction: column;
    color: $crema;
    text-align: center;
    justify-content: center;
    margin-top: 70px;
}
}