.navbar {
    display: flex;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    padding: 0.5rem 1rem;
    flex-direction: column;
    align-content: center;
    text-align: center;
}


@media (min-width: 768px){

.navbar{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient($amarilloBase, $amarilloBase2);
    color: $grisBase;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: $grisBase;
}

.navbar-dark .navbar-nav .nav-link {
    color: $grisBase;
    margin-left: 100px;
    margin-right: 100px;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: black;
}

.navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100px;
    background-color: rgba(71, 71, 73, 0.658);
    color: $amarilloBase;
}

.dropdown-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 13px;
    width: 100%;
    height: 20px;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: $amarilloBase;
    text-align: center;
    white-space: nowrap;
}

.dropdown-item:hover{
    color: $amarilloBase;
    background-color: rgba(71, 71, 73, 0.658);
}

.dropdown-divider{
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid rgba(255, 217, 0, 0.247);
}

.navbar-nav ml-auto{
    display: flex;
}


}