ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
    font-size: medium;
}

.barraNavegacion{
    background-color: $amarilloBase;
    a {
        color: $grisBase;
    }
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: $grisBase;
    background-color: $amarilloBase;
    border-color: $amarilloBase;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active:hover{
    background-color: $grisBase;
    color: $amarilloBase;
    border-color: $amarilloBase;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    background-color: $grisBase;
    color: $amarilloBase;
    border-color: $amarilloBase;
}


@media (min-width: 768px){

.barraNavegacion{
    background-image: linear-gradient($amarilloBase, $amarilloBase2);
    a {
        color: $grisBase;
    }
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: $grisBase;
    background-color: $amarilloBase;
    border-color: $amarilloBase;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active:hover{
    background-color: $grisBase;
    color: $amarilloBase;
    border-color: $amarilloBase;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    background-color: $grisBase;
    color: $amarilloBase;
    border-color: $amarilloBase;
    width: 101%;
}

.nav-tabs {
    border: 0px solid $grisBase;
}

.nav-tabs .nav-link {
    margin-top: 1px;
    margin-bottom: 1px;
    background: 0 0;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

}